<div class="mb-4" style="box-shadow: 0 4px 8px 0 #00000030; border: 1px solid #027489; ">
    <div class="edit-box">
        <app-edit-box #editBox [editable]="editable" [product]="products" [prices]="prices" [addons]="addons" [id]="id"></app-edit-box>
    </div>
    <div class="bottom-options p-2">
        <!-- <div>
            <button mat-flat-button color="primary" class="mr-2">Add Promotion</button>
        </div> -->
        <div>
            <button mat-stroked-button class="mr-2" *ngIf="editable" (click)="save()">Save</button>
            <button mat-stroked-button class="mr-2" *ngIf="!editable" (click)="edit()">Edit</button>
            <button mat-stroked-button color="warn" class="mr-2" (click)="delete()">Delete Table</button>
            <button mat-stroked-button (click)="addNew()">Add New Table</button>
        </div>
    </div>
</div>