<app-in-page-head name="Guest Details"></app-in-page-head>

<div class="row mt-3">
    <div class="col-md-6 p-2 px-md-3">
        <label>Choose Product</label>
        <select class="custom-select" id="inputGroupSelect02">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>
    <div class="col-md-6 p-2 px-md-3 d-flex justify-content-md-end">
        <div>
            <label>Choose Date</label>
            <div style="max-width: 220px;">
                <div class="form-control" (click)="picker22.open()">
                    <mat-date-range-input [rangePicker]="picker22">
                        <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                        <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                    </mat-date-range-input>
                </div>
                <mat-date-range-picker #picker22></mat-date-range-picker>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <select class="custom-select" id="inputGroupSelect01">
            <option value="1">Show 10 Results</option>
            <option value="1">Show 20 Results</option>
        </select>
    </div>
    <div class="col-md-8 d-flex justify-content-end">
        <button mat-flat-button color="warn">Export</button>
    </div>
    <div class="col-12">
        <section class="sect mt-4">
            <!-- head -->
            <div class="tabl">
                <div class="head" style="min-width: 65px;">
                    <h6 class="mb-0">No.</h6>
                </div>
                <div class="head" style="min-width: 200px;flex-grow: 1;">
                    <h6 class="mb-0">Guest Details</h6>
                </div>
                <div class="head" style="min-width: 100px;">
                    <h6 class="mb-0">Nos</h6>
                </div>
                <div class="head" style="min-width: 110px;">
                    <h6 class="mb-0">Check In</h6>
                </div>
                <div class="head" style="min-width: 110px;">
                    <h6 class="mb-0">Check Out</h6>
                </div>
                <div class="head" style="min-width: 80px;">
                    <h6 class="mb-0">Days</h6>
                </div>
                <div class="head" style="min-width: 120px;">
                    <h6 class="mb-0">Rooms</h6>
                </div>
                <div class="head" style="min-width: 80px;">
                    <h6 class="mb-0">Room Qty</h6>
                </div>
                <div class="head" style="min-width: 120px;">
                    <h6 class="mb-0">Add Ons</h6>
                </div>
                <div class="head" style="min-width: 120px;">
                    <h6 class="mb-0">Status</h6>
                </div>
            </div>
            <!-- head close -->

            <div class="tabl">
                <div class="roo">
                    <h6 class="mb-0">1</h6>
                </div>
                <div class="nam">
                    <h6 class="px-3 py-2 mb-0"><b>John Henderson</b><br>Palarivatton, Kochi <br> +91 9488709451</h6>
                </div>
                <div class="detail" style="min-width: 100px;">
                    <div class="px-3 py-2">
                        <h6 class="mb-0">2 <span>Adults</span></h6>
                        <h6 class="mb-0">2 <span>Children</span></h6>
                    </div>
                </div>
                <div class="detail" style="min-width: 110px;">
                    <h6 class="px-3 py-2 mb-0">20-09-2020</h6>
                </div>
                <div class="detail" style="min-width: 110px;">
                    <h6 class="px-3 py-2 mb-0">20-09-2020</h6>
                </div>
                <div class="detail" style="min-width: 80px;">
                    <h6 class="px-3 py-2 mb-0">1 <span>Day</span></h6>
                </div>
                <div class="detail" style="min-width: 120px;">
                    <h6 class="px-3 py-2 mb-0">Deluxe Room</h6>
                </div>
                <div class="detail" style="min-width: 80px;">
                    <h6 class="px-3 py-2 mb-0">1</h6>
                </div>
                <div class="detail" style="min-width: 120px;">
                    <div class="px-3 py-2">
                        <h6 class="mb-0">A/C Added</h6>
                    </div>
                </div>
                <div class="detail text-success" style="min-width: 120px;">
                    <h6 class="px-3 py-2 mb-0">Confirmed</h6>
                </div>
            </div>
            <div class="tabl">
                <div class="roo">
                    <h6 class="mb-0">2</h6>
                </div>
                <div class="nam">
                    <h6 class="px-3 py-2 mb-0"><b>John Henderson</b><br>Palarivatton, Kochi <br> +91 9488709451</h6>
                </div>
                <div class="detail" style="min-width: 100px;">
                    <div class="px-3 py-2">
                        <h6 class="mb-0">2 <span>Adults</span></h6>
                        <h6 class="mb-0">2 <span>Children</span></h6>
                    </div>
                </div>
                <div class="detail" style="min-width: 110px;">
                    <h6 class="px-3 py-2 mb-0">20-09-2020</h6>
                </div>
                <div class="detail" style="min-width: 110px;">
                    <h6 class="px-3 py-2 mb-0">20-09-2020</h6>
                </div>
                <div class="detail" style="min-width: 80px;">
                    <h6 class="px-3 py-2 mb-0">1 <span>Day</span></h6>
                </div>
                <div class="detail" style="min-width: 120px;">
                    <h6 class="px-3 py-2 mb-0">Deluxe Room</h6>
                </div>
                <div class="detail" style="min-width: 80px;">
                    <h6 class="px-3 py-2 mb-0">1</h6>
                </div>
                <div class="detail" style="min-width: 120px;">
                    <div class="px-3 py-2">
                        <h6 class="mb-0">A/C Added</h6>
                    </div>
                </div>
                <div class="detail text-danger" style="min-width: 120px;">
                    <h6 class="px-3 py-2 mb-0">Cancelled</h6>
                </div>
            </div>
        </section>
    </div>
</div>