<app-in-page-head></app-in-page-head>
<div class="d-flex justify-content-end mt-3">
    <button class="btn btn-info mr-2">Edit</button>
    <button class="btn btn-success">Save</button>
</div>
<div class="row">
    <div class="col-md-6 p-2 px-md-3">
        <div>
            <label>Head Company</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label>Branch Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label>Area</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label>District</label>
            <select class="custom-select" id="inputGroupSelect02">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mt-3">
            <label>State</label>
            <select class="custom-select" id="inputGroupSelect02">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mt-3">
            <label>Country</label>
            <select class="custom-select" id="inputGroupSelect02">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">star</span>Star Value / Class</label>
            <select class="custom-select" id="inputGroupSelect02">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        </div>
        <div class="mt-3">
            <label>Logo : 300 x 300 pixels</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-md-6">
                    <label>Latitude</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>Longtitude</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 p-2 px-md-3">

        <div>
            <label><span class="material-icons mr-2">call</span>Phone</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">email</span>Email</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">public</span>Website</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">home</span>Address - Line 1</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">home</span>Address - Line 2</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">today</span>Working Days</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">access_time</span>Working Hours</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">settings</span>Specialize Keywords</label>
            <div class="d-flex mb-2">
                <input type="text" class="form-control mr-2" placeholder="">
                <button class="btn btn-dark">Add</button>
            </div>

            <mat-chip-list>
                <mat-chip>
                    One
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    One
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    One
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <mat-chip>
                    One
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <div class="col-md-12 p-2 px-md-3">
        <label>About Text</label>
        <textarea type="text" class="form-control" rows="4"></textarea>
    </div>

    <div class="col-md-6 p-2 px-md-3">
        <div class="mt-3">
            <label><span class="material-icons mr-2">flight</span>Near Airport</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">train</span>Near Railway</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="col-md-6 p-2 px-md-3">
        <div class="mt-3">
            <label><span class="material-icons mr-2">link</span>Facebook</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">link</span>Instagram</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">link</span>Twitter</label>
            <input type="text" class="form-control">
        </div>
        <div class="mt-3">
            <label><span class="material-icons mr-2">link</span>Linkedin</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="d-flex justify-content-end mt-2">
    <button class="btn btn-success">Save</button>
</div>