<app-in-page-head name="Manage Product"></app-in-page-head>

<div class="row">
    <div class="col-md-6 p-2 px-md-3">
        <label>Choose Product</label>
        <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="selectedBranch" (change)="changeBranch(selectedBranch)">
        <option [value]="b.branch_id" *ngFor="let b of branches">{{b.vendor_name}}</option>
      </select>
    </div>
</div>

<div class="row" *ngIf="showMainBox">
    <div class="col-12 px-2 px-md-3 pt-3">
        <ng-container *ngFor="let p of products; let i = index">
            <app-main-box *ngIf="p" [id]="i+1" (add-new)="products.push(null)" (delete)="deleteTable(i)" [editable]="true" [products]="p" [prices]="p.product_offseason_price" [addons]="p.product_addon"></app-main-box>
            <app-main-box *ngIf="!p" [id]="i+1" (add-new)="products.push(null)" (delete)="deleteTable(i)" [editable]="true" [products]="null" [prices]="null" [addons]="null"></app-main-box>
        </ng-container>
        <app-main-box *ngIf="products && products.length === 0" (add-new)="products.push(null)" (delete)="deleteTable(i)" [editable]="true" [products]="null" [prices]="null" [addons]="null"></app-main-box>
    </div>
</div>