<app-in-page-head></app-in-page-head>
<div class="d-flex justify-content-end mt-3">
    <!-- <button class="btn btn-info mr-2">Edit</button> -->
    <!-- <button class="btn btn-success d-flex align-center"><mat-icon>save</mat-icon> Save</button> -->
</div>
<!-- details -->
<form #vendorForm="ngForm">
    <div class="row" *ngIf="vendor">
        <div class="col-md-6 p-2 px-md-3">
            <div>
                <label>Name</label>
                <input type="text" class="form-control" name="vendor_name" [(ngModel)]="vendor.vendor_name" required>
            </div>
            <div class="mt-3">
                <label>Area</label>
                <input type="text" class="form-control" name="vendor_area" [(ngModel)]="vendor.vendor_area">
            </div>
            <div class="mt-3">
                <label>Country</label>
                <select class="custom-select" id="inputGroupSelect02" 
                name="country_id" [(ngModel)]="vendor.city_info.states_info.country_info.country_id"
                (change)="getStates(vendor.country_id)">
                <option [value]="c.country_id" *ngFor="let c of countries">{{c.country_name}}</option>
              </select>
            </div>
            <div class="mt-3">
                <label>State</label>
                <select class="custom-select" id="inputGroupSelect02" name="state_id" [(ngModel)]="vendor.city_info.states_info.state_id"
                (change)="getCities(vendor.state_id)">
                <option [value]="s.state_id" *ngFor="let s of states">{{s.state_name}}</option>
              </select>
            </div>
            <div class="mt-3">
                <label>District</label>
                <select class="custom-select" id="inputGroupSelect02" name="city_id" [(ngModel)]="vendor.city_info.city_id">
                <option [value]="c.city_id" *ngFor="let c of cities">{{c.city_name}}</option>
              </select>
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">star</span>Star Value / Class</label>
                <select class="custom-select" id="inputGroupSelect02" name="vendor_star_level" [(ngModel)]="vendor.vendor_star_level">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                  </select>
            </div>
            <div class="mt-3">
                <label>Logo : 300 x 300 pixels</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="selectMultipleImage($event)" #logo>
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
                <img [src]="cdnUrl + 'vendors/' + vendor.vendor_logo" class="logo-img mt-3" *ngIf="!logoPreview">
                <div class="logo-wrapper" *ngIf="logoPreview">
                    <button class="btn btn-danger btn-sm d-flex align-center" (click)="resetImage()"><mat-icon>delete</mat-icon>Remove</button>
                    <img [src]="logoPreview" class="logo-img mt-3">
                </div>
            </div>
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <label>Latitude</label>
                        <input type="text" class="form-control" name="vendor_longitude" [(ngModel)]="vendor.vendor_longitude">
                    </div>
                    <div class="col-md-6">
                        <label>Longtitude</label>
                        <input type="text" class="form-control" name="vendor_latitude" [(ngModel)]="vendor.vendor_latitude">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-2 px-md-3">

            <div>
                <label><span class="material-icons mr-2">call</span>Phone</label>
                <input type="text" class="form-control" name="vendor_phone" [(ngModel)]="vendor.vendor_phone">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">email</span>Email</label>
                <input type="text" class="form-control" name="vendor_email" [(ngModel)]="vendor.vendor_email">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">public</span>Website</label>
                <input type="text" class="form-control" name="vendor_website" [(ngModel)]="vendor.vendor_website">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">home</span>Address - Line 1</label>
                <input type="text" class="form-control" name="vendor_address_one" [(ngModel)]="vendor.vendor_address_one">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">home</span>Address - Line 2</label>
                <input type="text" class="form-control" name="vendor_address_two" [(ngModel)]="vendor.vendor_address_two">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">today</span>Working Days</label>
                <input type="text" class="form-control" name="vendor_working_days" [(ngModel)]="vendor.vendor_working_days">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">access_time</span>Working Hours</label>
                <input type="text" class="form-control" name="vendor_working_hours" [(ngModel)]="vendor.vendor_working_hours">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">settings</span>Specialize Keywords</label>
                <div class="d-flex mb-2">
                    <input type="text" class="form-control mr-2" placeholder="" name="vendor_keywords" [(ngModel)]="vendor.vendor_keywords">
                    <!-- <button class="btn btn-dark">Add</button> -->
                </div>

                <mat-chip-list *ngIf="vendor.vendor_keywords">
                    <mat-chip *ngFor="let k of vendor.vendor_keywords.split(',')">
                        {{k}}
                        <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

        <div class="col-md-12 p-2 px-md-3">
            <label>About Text</label>
            <textarea type="text" class="form-control" rows="4" name="vendor_desc" [(ngModel)]="vendor.vendor_desc"></textarea>
        </div>

        <div class="col-md-6 p-2 px-md-3">
            <div class="mt-3">
                <label><span class="material-icons mr-2">flight</span>Near Airport</label>
                <input type="text" class="form-control" name="near_airport" [(ngModel)]="vendor.near_airport">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">train</span>Near Railway</label>
                <input type="text" class="form-control" name="near_railway" [(ngModel)]="vendor.near_railway">
            </div>
        </div>

        <div class="col-md-6 p-2 px-md-3">
            <div class="mt-3">
                <label><span class="material-icons mr-2">link</span>Facebook</label>
                <input type="text" class="form-control" name="facebook" [(ngModel)]="vendor.facebook">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">link</span>Instagram</label>
                <input type="text" class="form-control" name="instagram" [(ngModel)]="vendor.instagram">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">link</span>Twitter</label>
                <input type="text" class="form-control" name="twitter" [(ngModel)]="vendor.twitter">
            </div>
            <div class="mt-3">
                <label><span class="material-icons mr-2">link</span>Linkedin</label>
                <input type="text" class="form-control" name="linkedin" [(ngModel)]="vendor.linkedin">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-success" (click)="updateVendor(vendorForm)">Save</button>
    </div>
</form>