<div class="box p-2 mt-3">
    <div class="row mx-0">
        <div class="col-md px-2">
            <label>Confirmed on</label>
            <h6>30-05-2020</h6>
        </div>
        <div class="col-md px-2">
            <label>Cancelled on</label>
            <h6>30-05-2020</h6>
        </div>
        <div class="col-md px-2">
            <label>Refund Status</label>
            <h6>Pending</h6>
        </div>
        <div class="col-6 col-md-2 px-2 py-2">
            <button mat-flat-button color="warn" class="w-100">Export Pdf</button>
        </div>
        <div class="col-6 col-md-2 px-2 py-2">
            <button mat-flat-button color="warn" class="w-100">Print</button>
        </div>
    </div>
    <hr class="my-1">
    <div class="row mx-0 mt-3">
        <div class="flex-set col-md-6 col-xl-4 p-2">
            <div class="name">James <br>Anderson</div>
            <div class="status px-3 py-1">Status : <b>Confirmed</b></div>
        </div>
        <div class="col-md-6 col-xl-8 px-0">
            <div class="row mx-0">
                <div class="col-md-6 col-xl-4 p-2">
                    <label>Checkin</label>
                    <h6>10/07/2020</h6>
                </div>
                <div class="col-md-6 col-xl-4 p-2">
                    <label>Check Out</label>
                    <h6>11/07/2020</h6>
                </div>
                <div class="col-md-6 col-xl-4 p-2">
                    <label>Total Days</label>
                    <h6>1</h6>
                </div>
                <div class="col-md-12 col-xl-9 p-2">
                    <label>Guests</label>
                    <h6>2Room | 4Adult | 3Child</h6>
                </div>
                <div class="col-xl-3 p-2 d-flex align-items-end">
                    <button mat-stroked-button color="warn" class="w-100">More Info</button>
                </div>
            </div>
        </div>
    </div>
</div>