<div class="nav-header mb-1">
    <div class="head">
        <span class="filterfont pr-3">y</span>
        <h4>Hotel Resort & Homestay</h4>
    </div>
</div>

<div class="filter-box">
    <li><a routerLink="/">Dashboard</a></li>
    <li><a routerLink="/manage">Manage Database</a></li>
    <div class="sub">
        <li><a routerLink="/manage/add">Add Branch</a></li>
        <li><a routerLink="/manage/paithalmala">Paithalmala Branch</a></li>
    </div>
    <li><a routerLink="/">Manage Product</a></li>
    <div class="sub">
        <li><a routerLink="/">Product Features</a></li>
    </div>
    <li><a routerLink="/">Upload Photos & Videos</a></li>
    <li><a routerLink="/">Booking Status</a></li>
    <div class="sub">
        <li><a routerLink="/">Guest Details</a></li>
    </div>
    <li><a routerLink="/">Sales & Invoice</a></li>
</div>