.nav-header {
    .head {
        background-color: #0274b9;
        color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 8px 0 #00000030;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        span {
            font-size: 24px;
        }
        h4 {
            font-family: 'Open Sans SB';
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
}

.filter-box {
    box-shadow: 0 0 8px 0 #00000020;
    border-radius: 6px;
    background-color: #fff;
    li {
        list-style: none;
        border-bottom: 1px solid #eaeaea;
        a {
            padding: 10px 20px;
            display: block;
            font-size: 15px;
            color: #3d3d3d;
            font-family: 'Open Sans SB';
        }
        a:hover {
            text-decoration: none;
            background-color: #b1dcf7;
        }
    }
    .sub {
        li a {
            padding-left: 40px;
            font-family: 'Open Sans';
            color: #7e7e7e;
        }
    }
}