<app-in-page-head name="Upload"></app-in-page-head>

<div class="row">
    <div class="col-md-6 p-2 px-md-3">
        <label>Choose Product</label>
        <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="selectedBranch" (change)="changeBranch(selectedBranch)">
        <option [value]="b.branch_id" *ngFor="let b of branches">{{b.vendor_name}}</option>
        </select>

        <div class="mt-3">
            <label>Upload Photos</label>
            <div class="input-group">
                <input type="text" class="form-control" (click)="fileInput.click()" (change)="selectMultipleImage($event)" #logo>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="submitDetails()" type="button">Upload</button>
                </div>
            </div>
            <input #fileInput type="file" style="display:none" multiple (change)="selectMultipleImage($event)" #logo>
        </div>
    </div>

    <div class="col-md-12 p-2 px-md-3">
        <div class="row">
            <!-- <div class="col-6 col-md-3 col-xl-2 py-2">
                <label>Primary Photo</label>
                <div class="image">
                    <img class="w-100" src="assets/images/resort.jpg" alt="">
                </div>
            </div> -->
            <div class="col-6 col-md-3 col-xl-2 py-2" *ngFor="let i of images">
                <div class="image">
                    <img class="w-100" [src]="cdnUrl + 'gallery/' + i.filename">
                    <div class="d-flex align-items-center justify-content-center">
                        <label class="my-1 mx-2">Status</label>
                        <mat-slide-toggle (change)="changeStatus($event, i)" [checked]="i.is_active ? true : false"></mat-slide-toggle>
                    </div>
                    <div class="close-btn" (click)="delete(i)"><span class="material-icons">cancel</span></div>
                </div>
            </div>
            <div class="col-6 col-md-3 col-xl-2 py-2" *ngFor="let p of previewImages">
                <div class="image">
                    <img class="w-100" [src]="p">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 p-2 px-md-3 mt-4" *ngIf="selectedBranchDetails">
        <label>Link Youtube Video</label>
        <div class="input-group">
            <input type="text" class="form-control" name="youtube_url" [(ngModel)]="selectedBranchDetails.video_url">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="updateUrl()">Save</button>
            </div>
        </div>

        <ng-container *ngIf="youtubeLink">
            <iframe class="w-100 mt-3" height="315" [src]="youtubeLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ng-container>
    </div>
</div>