<app-in-page-head></app-in-page-head>

<div class="row">
    <div class="col-md-6 p-2 px-md-3">
        <label>Choose Product</label>
        <select class="custom-select" id="inputGroupSelect02">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6 p-2 px-md-3">
        <div class="box">
            <div class="head">Facilities</div>
            <div class="cnt px-2">

                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check1">
                            <label class="custom-control-label" for="check1"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set1">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check2">
                            <label class="custom-control-label" for="check2"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set2">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check3">
                            <label class="custom-control-label" for="check3"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set3">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 p-2 px-md-3">
        <div class="box mb-4">
            <div class="head">Food Arrangements</div>
            <div class="cnt px-2">

                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check1">
                            <label class="custom-control-label" for="check1"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set1">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check2">
                            <label class="custom-control-label" for="check2"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set2">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check3">
                            <label class="custom-control-label" for="check3"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set3">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>

            </div>
        </div>
        <div class="box mb-4">
            <div class="head">Transportation Facilities</div>
            <div class="cnt px-2">

                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check1">
                            <label class="custom-control-label" for="check1"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set1">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check2">
                            <label class="custom-control-label" for="check2"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set2">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>
                <div class="row mx-0 align-items-center" style="border-bottom: 1px solid #eaeaea;">
                    <div class="col-6 p-2">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="check3">
                            <label class="custom-control-label" for="check3"><span class="filterfont mr-sm-1">Y</span> Trekking</label>
                        </div>
                    </div>
                    <div class="col-3 p-2">
                        <select class="custom-select" id="set3">
                            <option value="1">Free</option>
                            <option value="2">Paid</option>
                            <option value="3">On Request</option>
                        </select>
                    </div>
                    <div class="col-3 p-2">
                        <input type="text" class="form-control" placeholder="Price">
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="box mb-4">
            <div class="head">Promotion</div>
            <div class="cnt px-3 pb-3">
                <div class="row">
                    <div class="col-6 mt-2">
                        <div>
                            <label>Promotion Text</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label>Select Room</label>
                            <select class="form-control">
                               <option disabled selected>Choose Any Room Type</option>
                               <option value="1">One</option>
                           </select>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <label>Banner Color</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="radio1" name="radio-stacked" required>
                            <label class="custom-control-label" for="radio1">Red</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" id="radio2" name="radio-stacked" required>
                            <label class="custom-control-label" for="radio2">Yellow</label>
                        </div>
                    </div>

                    <div class="col-6 mt-2">
                        <div>
                            <label>Discount %</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label>Choose Date</label>
                            <app-date-range></app-date-range>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="prof-pic">
                            <img class="w-100" src="assets/images/offer.jpeg" alt="">
                            <button mat-raised-button class="w-100 mt-2">Change Image</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>