<app-in-page-head></app-in-page-head>

<div class="row mt-3">
    <div class="col-md-6 p-2 px-md-3">
        <label>Choose Product</label>
        <select class="custom-select" id="inputGroupSelect02">
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
    </div>

    <div class="col-md-6 p-2 px-md-3">
        <div class="d-flex align-items-center justify-content-end">
            <label class="mr-2">Booking Status</label>
            <div (click)="picker1.open()">
                <input class="form-control" [matDatepicker]="picker1" placeholder="Choose Date">
                <mat-datepicker #picker1></mat-datepicker>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="row my-3">
        <div class="col-md-8 col-xl-9">
            <div class="sect mb-3">
                <div class="set-left">
                    <div class="slno">
                        <h6 class="mb-0"><span>Sl No.</span><br>10</h6>
                    </div>
                    <div class="room">
                        <h6 class="mb-0"><span>Room</span><br>1005 C</h6>
                    </div>
                </div>
                <div class="set-right">
                    <div class="row mx-0">
                        <div class="col-6 px-0">
                            <div class="type px-3">
                                <h6 class="mb-0"><span>Type : </span>Regular Room</h6>
                            </div>
                            <div class="bottm px-3 d-flex align-items-center justify-content-between">
                                <mat-slide-toggle></mat-slide-toggle>
                                <div class="ml-3">
                                    <div class="form-control" (click)="picker22.open()">
                                        <mat-date-range-input [rangePicker]="picker22">
                                            <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                                            <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                                        </mat-date-range-input>
                                    </div>
                                    <mat-date-range-picker #picker22></mat-date-range-picker>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 px-0">
                            <div class="availablity px-3">
                                <h6 class="mb-0"><span>Availablity : </span>Available</h6>
                            </div>
                            <div class="guest px-3">
                                <h6 class="mb-0"><span>Guest : </span>John Henderson</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="set-box">
                <div class="set1 p-2">
                    <h6 class="mb-0">Total Rooms : <b>20</b></h6>
                </div>
                <div class="set2 p-2">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h6>Block all Rooms</h6>
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                    <div class="form-control" (click)="picker.open()">
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="From" readonly style="cursor: pointer;">
                            <input matEndDate placeholder="To" readonly style="cursor: pointer;">
                        </mat-date-range-input>
                    </div>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </div>
            </div>
        </div>
    </div>
</section>