label {
    color: #7e7e7e;
    font-size: 14px;
    font-family: 'Open Sans SB';
    .material-icons {
        font-size: 21px;
        vertical-align: text-top;
    }
}

.sect {
    display: flex;
    box-shadow: 0 4px 8px 0 #00000030;
    border-radius: 6px;
    .set-left {
        width: 60px;
        .slno {
            background-color: #fff;
            color: #3d3d3d;
            font-family: 'Open Sans SB';
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // border-radius: 6px 0 0 6px;
            h6 {
                font-size: 13px;
                span {
                    color: #7e7e7e;
                    font-size: 10px;
                }
            }
        }
        .room {
            margin-top: 0px;
            background-color: #0274b9;
            color: #fff;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            // border-radius: 6px 0 0 6px;
            font-family: 'Open Sans SB';
            h6 {
                font-size: 13px;
                span {
                    color: #eaeaea;
                    font-size: 10px;
                }
            }
        }
    }
    .set-right {
        background-color: #fff;
        width: 100%;
        .type {
            height: 40px;
            display: flex;
            align-items: center;
            font-family: 'Open Sans SB';
            color: #3d3d3d;
            border-left: 1px solid #f5f5f5;
            span {
                color: #7e7e7e;
                font-size: 10px;
            }
        }
        .availablity {
            height: 40px;
            display: flex;
            align-items: center;
            font-family: 'Open Sans SB';
            color: #3d3d3d;
            border-left: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
            h6 {
                font-size: 14px;
                span {
                    color: #7e7e7e;
                    font-size: 10px;
                }
            }
        }
        .bottm {
            background-color: #eaeaea;
            height: 60px;
        }
        .guest {
            height: 60px;
            display: flex;
            align-items: center;
            font-family: 'Open Sans SB';
            color: #3d3d3d;
            border-left: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
            h6 {
                font-size: 14px;
                span {
                    color: #7e7e7e;
                    font-size: 10px;
                }
            }
        }
    }
}

.set-box {
    box-shadow: 0 4px 8px 0 #00000030;
    border: 1px solid #0274B9;
    .set1 {
        background-color: #0274b9;
        color: #fff;
    }
}